/* CSS Reset */
body, header, nav, main, footer, h1, img, ul, {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for body and images */
body {
	background-color: #000;
}


    /* Desktop Viewport: Style rule for header */
    header {
        width: 25%;
        float: left;
        padding-bottom: 0;
    }
    
    /* Desktop Viewport: Style rules for nav area */
    nav {
        float: right;
        width: 70%;
        margin: 4em 1em 0 0;
    }

    nav ul {
        text-align: right;
    }
    
    nav li {
        border: none;
    }

    nav li a {
        padding: 0.5em 1em;
    }
    
    nav li a:hover {
        color: #000;
        background-color: #fff;
    }
    
    /* Desktop Viewport: Style Rules for main content */
    main {
        clear: left;
    }
    
    main h1 {
        font-size: 1.8em;
    }
    

/* Media Query for Large Desktop Viewports */
@media screen and (min-width: 1921px) {
 
    #container {
        width: 1920px;
        margin: 0 auto;
    }
	
	article h3{
		font-size: 1.75em;
	}
    
}

 